body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: #f5f5f5;
}

    .Background-img {
    justify-content: center;
    margin-top: 80px;
    opacity: 100%;
    }

    .navbar{
        align-items: center;
    }

    .navbar ul {
        list-style-type: none;
        margin: 0 -8px;
        padding-left: 375px;
        padding-right: 375px;
        overflow: hidden;
        background-color: #1d1d1f;
        position: fixed;
    }

    .navbar li {
        float: left;
    }
    .navbar li a{
        display: flex;
        align-items: center;
        color: #d3d3d3;
        padding: 14px 16px;
        text-decoration:none;
        font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        font-size: 12px;
        letter-spacing: 0em;
        line-height: 1.4705882353;
        font-weight: 400;

    }
    .navbar li a:hover{
        color: #ffff;   
    }

    .Family .heading {
        padding-left: 475px;
        left: 200px;
        font-size: 7em;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(31, 28, 28);
        width: 873.5px;
        margin-top: 46px;
        color: white;
    }

    .Family .Family-content .text-3 {
        position:static;
        font-family: Andale Mono, monospace;
        font-size: 17px;
        left: 250px;
        margin-top: 500px;
        text-align: center;
        letter-spacing: 4px;
        line-height: 1.5
    }

    .Family .Family-content .text-4 {
        position: static;
        font-family: Andale Mono, monospace;
        font-size: 17px;
        left: 250px;
        margin-top: 600px;
        letter-spacing: 4px;
        text-align: center;
        line-height: 1.5
    }

    .Family-img-1 {
        padding-left: 400px;
        margin-top: -1350px;
        width: 40%;
    }

    .Family-img-2 {
        height: 70%;
        width: 30%;
        padding-left: 450px;
        margin-top: -650px;
    }

    hr.new5 {
        border: 1px #0000;
        border-radius: 10px;
        height: 0;
        margin-top: 0px;
      }